<div class="thread">

  <div class="thread-reply-button">
    <a ui-sref="post({postId: threadId})"> Reply </a>
  </div>

  <a ui-sref="profile({username: author})" class="thread-author">{{author}}</a> -
  <span class="thread-date">{{date | date : 'h:mm a - MMMM d, y'}}</span>
  <p class="thread-body"> {{body}} </p>

</div>

<ul>
  <reply ng-repeat="reply in replies track by $index" id="{{reply._id}}" order="reply.replyOrder" author="{{reply.author}}" body="{{reply.body}}" datetime="{{reply.datetime}}">{{reply}}</reply>
</ul>
